.App {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background: #000;
  height: 30vh;
}

form input {
  padding: 0.65rem;
  margin-top: 20px;
  width: 40%;
  outline: none;
  border: none;
  border: 1px solid grey;
  border-radius: 20px;
  font-size: 1 rem;
}

form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../src/assets/banner.jpg) no-repeat center center/cover;
  height: 100%;
  z-index: -1;
  opacity: 0.9;
}

.loading {
  margin-top: 250px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font: 3rem;
}

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.ImageGrid img {
  height: 360px;
  width: 360px;
}

.ImageGrid {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding-right: 250px auto;
  margin-top: 250px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.text {
  text-transform: uppercase;
}

.btn {
  background: teal;
  padding: 0.5rem;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 769px) {
  .ImageGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    margin-right: 300px;
    margin-top: 200px auto;
    padding: 1rem auto;
    justify-content: center;
  }

  .ImageGrid img {
    width: 295px;
    height: 295px;
    overflow: hidden;
  }
}

@media (max-width: 500px) {
  .ImageGrid {
    display: grid;
    grid-template-columns: 1fr;
    width: 40%;
    margin: auto;
    margin-top: 200px;
    justify-content: center;
  }
}

/* Videos */
.video input {
  border: none;
  outline: none;
  border-radius: 12px;
  border: 1.3px solid teal;
  padding: 0.43rem;
  margin-left: 12px;
}

video {
  background: red;
  height: 900px;
  width: 200px;
}

.widget {
  position: fixed;
  top: 250px;
  left: 0;
  width: 280px;
  margin-left: 20px;
  border: 1px solid teal;
  padding: 1rem;
  background: linear-gradient(#fff, teal);
  opacity: 0.7;
}

.widget h2 {
  color: teal;
}

.side-widget p {
  border-bottom: 1px dotted teal;
  padding: 0.2rem;
}

.page-container {
  display: flex;
  flex: 3;
}
