.App {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background: #000;
  height: 30vh;
}

form input {
  padding: 0.65rem;
  margin-top: 20px;
  width: 40%;
  outline: none;
  border: none;
  border: 1px solid grey;
  border-radius: 20px;
  font-size: 1 rem;
}

form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../src/assets/banner.jpg) no-repeat center center/cover;
  height: 100%;
  z-index: -1;
  opacity: 0.9;
}

.loading {
  margin-top: 250px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font: 3rem;
}

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.ImageGrid img {
  height: 200px;
  width: 200px;
}

.ImageGrid {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding-right: 250px auto;
  margin-top: 250px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.text {
  text-transform: uppercase;

  font-size: 1rem;
}

.btn {
  background: teal;
  padding: 0.5rem;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

.back {
  margin-left: 27px;
  background: teal;
  color: #fff !important;
  display: inline-block;
  margin-top: 10px;
  padding: 0 0.54rem;
  border-radius: 7px;
}

@media (max-width: 769px) {
  .ImageGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    margin: 300px auto;
    padding: 1rem auto;
    justify-content: center;
    align-items: center;
  }

  .ImageGrid img {
    width: 19;
    height: 19;
    overflow: hidden;
  }
}

@media (max-width: 500px) {
  .ImageGrid {
    display: grid;
    grid-template-columns: 1fr;
    width: 40%;
    margin: auto;
    margin-top: 200px;
    justify-content: center;
  }
}

.page-container {
  display: flex;
  flex: 3;
}

/* Single Images */
img {
  width: 340px;
  height: 340px;
}

.single-image {
  margin-top: 40px;
  padding-left: 30px;
  margin-left: 0;
  margin-right: 0;
}

.img-layout {
  display: flex;
}

a {
  color: black;
}

.second-column {
  width: 60%;
  margin: auto;
}

strong {
  text-transform: uppercase;
  font-size: 2rem;
}

/* Icons & Utlilities Classes */
.like,
.eye,
.download,
.tags {
  /* color: red; */
  font-size: 2rem;
  margin-right: 9px;
}

.like {
  color: red;
}

.tags,
.download,
.eye {
  color: teal;
}

.arrow {
  background: teal;
  color: #fff;
  font-size: 1.12rem;
}

.btn {
  padding: 0.45rem;
  color: #fff;
}

.list-group-item {
  border-bottom: 1px dotted teal;
  align-items: center;
}

.list-group-item span {
  font-weight: bold;
  text-transform: uppercase;
}
